{% extends 'base.html.twig' %}

{% block title %}Egoerak{% endblock %}

{% block main_header_toolbar %}
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <a href="{{ path('status_new') }}" class="btn btn-sm btn-primary">Berria</a>
    </div>
</div>
{% endblock %}

{% block body %}

    <div class="table-responsive">
        <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.name }}</td>
                <td>
                    <a href="{{ path('status_show', {'id': status.id}) }}">show</a>
                    <a href="{{ path('status_edit', {'id': status.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
